<h1>Listando <%= plural_name.humanize %></h1>
<br />
<%%= link_to 'Novo <%= singular_name.humanize %>', new_<%= singular_name %>_path %>
<br />

<%%= render :partial => 'layouts/erro' %>

<table>
<thead>
  <tr>
<% for attribute in attributes -%>
    <th><%= attribute.column.human_name %></th>
<% end -%>
<th></th>
<th></th>
<th></th>
  </tr>
</thead>
<%% @<%= plural_name %>.each do |<%= singular_name %>| %>
<tbody>
  <tr>
<% for attribute in attributes -%>
    <td><%%=h <%= singular_name %>.<%= attribute.name %> %></td>
<% end -%>
    <td><%%= link_to 'Mostrar', <%= singular_name %>, :class => 'bt_detal' %></td>
    <td><%%= link_to 'Alterar', edit_<%= singular_name %>_path(<%= singular_name %>), :class => 'bt_edit' %></td>
    <td><%%= link_to 'Apagar', <%= singular_name %>, :confirm => 'Você tem certeza?', :method => :delete, :class => 'bt_delete' %></td>
  </tr>
</tbody>
<%% end %>
</table>
<%%= page_entries_info @<%= plural_name %>, :entry_name => '<%= plural_name.humanize %>' %>
<br />
<%%= will_paginate @<%= plural_name %> %>